{% for row in context_list %}
<tr class="{% if context_list %}tr-class{% else %}display_none{% endif %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ row.title }}</td>
    <td>{{ row.tags }}</td>
    <td>{{ row.details }}</td>
    <td>{{ row.creater }}</td>
    <td>{{ row.minute_read }}</td>
    <td><a href="{{ row.url }}">Click here</a></td>
</tr>
{% empty %}
    <tr>No record found</tr>
{% endfor %}