{% extends 'base.html' %}
{% block title %}<title>Register</title>{% endblock title %}
{% block content %}
{% include 'dashboard/navbar.html' %}
<div class="mt-5 ms-5 me-5">
    <form action="." method="post">
        {% csrf_token %}
        <label for="id_username" class="form-label">Username</label>
        <input type="text" name="username" maxlength="150" autofocus class="form-control" placeholder="Enter your username" required id="id_username">

        <label for="id_first_name" class="form-label">First Name</label>
        <input type="text" name="first_name" maxlength="150" class="form-control" pattern="[a-zA-Z]+" placeholder="First Name" required id="id_first_name">

        <label for="id_last_name" class="form-label">Last Name</label>
        <input type="text" name="last_name" maxlength="150" class="form-control" pattern="[a-zA-Z]+" placeholder="Last Name" required id="id_last_name">

        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required id="id_email">

        <label for="id_password1" class="form-label">Password</label>
        <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="Enter your password" required id="id_password1">

        <label for="id_password2" class="form-label">Password Confirmation</label>
        <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="Enter confirm password" data-v-equal="#id_password1" required id="id_password2">

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Create User</button>
        </div>
    </form>
</div>
{% endblock content %}